#*target*
#*.jar
#*.war
#*.ear
#*.class

# eclipse specific git ignore
#*.pydevproject
#.project
.metadata
#bin/**
#tmp/**
#tmp/**/*
#*.tmp
#*.bak
#*.swp
#*~.nib
#local.properties
#.classpath
#.settings/
#.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/target
/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.ui/xtend-gen
/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.web/target
/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext.web/xtend-gen
/dk.sdu.bdd.xtext.parent/dk.sdu.bdd.xtext/target
