:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --link-color: #22a;
  --border-color: #aaa;
  --header-bg: #ddd;
  --tab-bg: #eee;
  --uml-tool-bg: #f9f9f9;
  --primary-color: #007bff;
  --tab-highlight: rgb(90, 129, 164);
  --uml-highlight: rgb(238, 157, 35);
}

body.dark-mode {
  --background-color: #1e1e1e;
  --text-color: #f5f5f5;
  --link-color: #4da8da;
  --border-color: #555;
  --header-bg: #333333;
  --tab-bg: #444444;
  --uml-tool-bg: #333333;
  --primary-color: #29a8df;
  --tab-highlight: rgb(68, 103, 133);
  --uml-highlight: rgb(195, 120, 30);
}
body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: 16px Helvetica,sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.editor-tab {
  height: 2rem;
  position: relative;
}
.editor-tab #entity-tab,
.editor-tab #scenario-tab{
	background-color: var(--primary-color);
}

.container {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.container h1 {
  display: inline-block;
}


.header {
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	padding: 10px;
	background-color: var(--header-bg);
}

.content {
	display: flex;
	flex-direction: row;
  height: 80vh;
}

.file-name{
  margin-left: 20vw;
}

.xtext-wrapper {
	top: 90px;
	bottom: 0;
	left: 0;
	flex: 2;
	height: 100%;
}


.tab {
  padding: 5px 2.5px;
}

#xtext-editor-entities {
	display: none;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
    box-sizing: border-box;
	border: 1px solid #aaa;
	height: 100%;
}

#xtext-editor-scenarios {
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
    box-sizing: border-box;
	border: 1px solid #aaa;
	height: 100%;
}

#blockly-editor {
	flex: 3;
	height: 100%;
}
#blockly-editor2 {
	flex: 3;
	height: 100%;
}
#uml-container{
	position: relative;
	overflow: none;
} 
.uml-editor{
	width: 60%;
	border: 1px solid #ccc;
}

.block-uml-tab{
	position: absolute;
	top: 0%;
	left: 40%;
	display: flex;
	justify-content:flex-start;
	align-items: center;
	gap: 5px;
	width:100%;
}
#blocks-tab,
#uml-tab{
	padding: 5px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	width: 10%;
}
#blocks-tab{
	background-color: var(--tab-highlight);
}
#uml-tab{
	background-color: var(--uml-highlight);
}
.uml-toolbox {
	background-color: var(--uml-tool-bg);
    overflow-y: auto;
}
#toolbox {
	position: absolute;
	top: 0%;
	left:0%;
	background-color: var(--uml-tool-bg);
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 20%;
	padding-left:10px;
	padding-right:10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
	height:100%;
	overflow: auto;
}


#toolbox::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#toolbox::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#toolbox::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

h3 {
    text-align: center;
    color: #333;
}

.tool-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
	align-items: center;
}
.tool-container .selected{
	background-color: rgb(228, 228, 228);
	transition: all .3s ease-in-out;
}

.btn,
#contextMenu button{
	background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

.style-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

label {
    margin: 5px 0;
}

input[type="color"],
input[type="range"] ,
.style-container select {
    margin-top: 5px;
    width: 100%;
}
.style-container select {
    padding: 8px; 
    border-radius: 4px;
}
#contextMenu{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items: center;
}
#toolbox textarea{
	resize: vertical;
	border-radius:10px;
	padding:5px;
	width:100%;
	min-height: 100px;
  	max-height: 300px;
}


/* Mouse Tool Stylings */

.mouse-options {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
	width: 80%;
	gap: 0.5rem;
}
.mouse-tool {
	width: 2rem;
	background-color: transparent;
	margin: 0.2rem;
	padding: 0.5rem;
	cursor:pointer;
}

.hr {
	width: 100%;
	height: 1px;
	background-color: #222222;
	margin: 0.5rem 0;
}


/* Toolkit stylings */

.tool {
	max-width: 5rem;
	min-width: 5rem;
	margin: 0.5rem;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}	

.tool:hover{
}

.circle {
	width: 2rem;
	aspect-ratio: 1/1;
	border-radius: 100%;
	background-color: transparent;
	border: 2px solid #222222;
}

.square{
	width: 2rem;
	aspect-ratio: 1/1;
	border-radius: 0;
	background-color: transparent;
	border: 2px solid #222222;
}
.class{ 
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
}
.class div:nth-child(1){
	background-color: gray;
	border: 2px solid black;
	width:100%;
	height: 2rem;
}
.class div:nth-child(2){
	width: 100%;
	height: 2rem;
	background-color: transparent;
	border-top: 0;
	border-right: 2px solid #222222;
	border-bottom: 2px solid #222222;
	border-left: 2px solid #222222;
}

.ghost {
	color: transparent;
	transform: translateX(-100%);
}
.theme-toggle-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  margin-left: 1rem;
  transition: background-color 0.3s;
}

.theme-toggle-btn:hover {
  background-color: #0056b3;
}